a {
    text-decoration-line: none;
}

p {
    text-indent: 2em;
    font-weight: lighter;
}

ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.label {
    text-indent: 0em;
    font-weight: lighter;
}
